//568px 768px 992px 1200px 1400px

$breakpoints-up: (
    "sm": "36rem",
    "md": "48rem",
    "lg": "62rem",
    "xl": "75rem",
    "xxl": "87.5rem"
);

//568px 767px 991px 1199px 1399px

$breakpoints-down: (
    "sm": "47.9375rem",
    "md": "61.9375rem",
    "lg": "74.9375rem",
    "xl": "87.4375rem"
); 

@mixin breakpoint-up($breakpoint) {
    @media only screen and (min-width: map-get($breakpoints-up, $breakpoint)) {
        @content;
    }
}

@mixin breakpoint-down($breakpoint) {
    @media only screen and (max-width: map-get($breakpoints-down, $breakpoint)) {
        @content;
    }
}


//flexbox
@mixin flex($direction) {
    display: flex;
    flex-direction: $direction
}